body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  background-color: #83deff; }

header {
  padding-top: 81px;
  height: 200px;
  background-color: #36a8bf; }
  header input {
    color: #4d7280;
    border: none;
    -webkit-box-shadow: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    background-color: transparent; }

nav {
  background-color: #4d7280;
  color: #b3efff;
  padding-top: 5px;
  height: 35px;
  vertical-align: top; }
  nav .columns {
    margin-top: 2px; }
  nav ul {
    font-size: .9rem !important; }
  nav svg {
    margin-right: 10px;
    vertical-align: top; }
    nav svg path {
      fill: #b3efff; }
  nav a {
    color: #b3efff; }
    nav a:hover {
      color: #b3efff; }
  nav ul li:nth-child(1) {
    margin-right: 50px; }
  nav ul li:last-child {
    text-align: right;
    float: right; }
  nav #eye-icon {
    margin-top: 4px; }

.main-content {
  background-color: #83deff;
  color: #4d7280; }

table {
  display: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6em;
  width: 100%; }
  table thead th {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
    border-bottom: 3px solid #b3efff; }
  table tbody {
    font-family: "Inconsolata", Helvetica; }
    table tbody td {
      padding: 10px 10px;
      border-top: 1px solid #b3efff;
      border-left: none;
      border-bottom: 1px solid #b3efff;
      border-right: none;
      max-width: 800px;
      word-wrap: break-word; }
    table tbody tr td:first-child {
      padding-right: 100px; }

footer {
  text-align: center;
  color: #36a8bf;
  vertical-align: bottom;
  padding-top: 200px; }
  footer a {
    color: #36a8bf; }
    footer a:hover {
      color: #36a8bf;
      text-decoration: underline; }
  footer .inner {
    margin-bottom: 70px; }
  footer ul {
    display: inline-block; }
    footer ul li {
      font-size: .9rem; }
      footer ul li #twitter-icon {
        display: inline-block;
        margin-top: 4px; }

.inline-list > li > * {
  display: inline-block; }

code {
  word-break: break-word; }

#twitter-icon path {
  fill: #36a8bf; }
