body, html {
  height: 100%;
  min-height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  background-color: #f8e8d1;
  color: #3d322e; }

a {
  text-decoration: none; }

#permalink {
  font-size: 2em;
  color: #d94a5e; }

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-top: 100px;
  padding-bottom: 50px; }

input#url {
  border: none;
  -webkit-box-shadow: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  font-size: 2em;
  width: 100%;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  background-color: #d94a5e; }
  input#url:hover {
    border: 1px solid #ccc; }

table {
  display: none;
  margin-top: 100px;
  font-size: 1.6em;
  max-width: 1024px; }
  table thead th {
    background-color: #b89a9a;
    border: 1px solid #888888; }
  table tbody {
    font-family: "Inconsolata", Helvetica; }
    table tbody td {
      padding: 10px 10px;
      border-top: 1px solid #888888;
      border-left: 1px solid #888888;
      border-bottom: 1px solid #888888;
      border-right: 1px solid #888888;
      max-width: 800px;
      word-wrap: break-word; }
    table tbody tr td:nth-child(1) {
      border-right: 1px solid #888888; }
    table tbody tr:nth-child(even) td {
      background-color: #a2c7da; }
