body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
}

input {
  border: none;
  -webkit-box-shadow: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  width: 100%;
  font-size: 2em;
}

$border-color: #888;

table {
  display: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6em;
  max-width: 1024px;

  thead {
    th {
      background-color: #ccc;
      border: 1px solid $border-color;
    }
  }
  tbody {
    font-family: "Inconsolata", Helvetica;

    td {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
      max-width: 800px;
      overflow: scroll;
      word-wrap: break-word;
    }

    tr td:nth-child(1) {
      border-right: 1px solid $border-color;
    }

    tr:nth-child(even) td {
      background-color: #eee;
    }
  }
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  margin-top: 100px;
  padding-bottom: 50px;
}
