// Palette: http://www.colourlovers.com/palette/3005855/barely_nailed_it
$background-color: #F8E8D1;
$foreground-color: #3D322E;
$accent-color: #D94A5E;
$highlight-color1: #B89A9A;
$highlight-color2: #A2C7DA;
$border-color: #888;

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  background-color: $background-color;
  color: $foreground-color;
}

a {
  text-decoration: none;
}

#permalink {
  font-size: 2em;
  color: $accent-color;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-top: 100px;
  padding-bottom: 50px;
}

input#url {
  border: none;
  -webkit-box-shadow: none;
  outline: none;
  box-shadow: none;

  text-align: center;
  font-size: 2em;

  width: 100%;

  border: 1px solid white;
  border-radius: 8px;

  padding: 5px 10px 5px 10px;

  background-color: $accent-color;

  &:hover {
    border: 1px solid #ccc;
  }
}


table {
  display: none;
  margin-top: 100px;
  font-size: 1.6em;
  max-width: 1024px;

  thead {
    th {
      background-color: $highlight-color1;
      border: 1px solid $border-color;
    }
  }
  tbody {
    font-family: "Inconsolata", Helvetica;

    td {
      padding: 10px 10px;
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-right: 1px solid $border-color;
      max-width: 800px;
      word-wrap: break-word;
    }

    tr td:nth-child(1) {
      border-right: 1px solid $border-color;
    }

    tr:nth-child(even) td {
      background-color: $highlight-color2;
    }
  }
}

