
// Colors
$header_background: #36A8BF;
$nav_background: #4D7280;
$body_background: #83DEFF;

$table_border: #B3EFFF;

$header_font_color: #4D7280;
$nav_font_color: #B3EFFF;
$body_font_color: #4D7280;
$footer_font_color: #36A8BF;

body {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 18px;
  background-color: $body_background;
}

// Header

header {
  padding-top: 81px;
  height: 200px;
  background-color: $header_background;

  input {
    color: $header_font_color;
    border: none;
    -webkit-box-shadow: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: none;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    background-color: transparent;

    &:hover {
      //border: 1px solid #ccc;
    }
  }
}


// Nav
nav {
  background-color: $nav_background;
  color: $nav_font_color;
  padding-top: 5px;
  height: 35px;
  vertical-align: top;

  .columns {
    margin-top: 2px;
  }

  ul {
    font-size: .9rem !important;
  }

  svg {
    margin-right: 10px;
    vertical-align: top;
    path {
      fill: $nav_font_color;
    }
  }

  a {
    color: $nav_font_color;

    &:hover {
      color: $nav_font_color;
    }
  }

  ul {
    li:nth-child(1) {
      margin-right: 50px;
    }
    li:last-child {
      text-align: right;
      float: right;
    }
  }

  #eye-icon {
    margin-top: 4px;
  }
}


// Main body
.main-content {
  background-color: $body_background;
  color: $body_font_color;
}



table {
  display: none;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6em;
  width: 100%;

  thead {
    th {
      text-align: left;
      padding-left: 10px;
      padding-bottom: 20px;
      border-bottom: 3px solid $table_border;
    }
  }
  tbody {
    font-family: "Inconsolata", Helvetica;

    td {
      padding: 10px 10px;
      border-top: 1px solid $table_border;
      border-left: none;
      border-bottom: 1px solid $table_border;
      border-right: none;
      max-width: 800px;
      word-wrap: break-word;
    }

    tr td:first-child {
      padding-right: 100px;
    }

    tr td:nth-child(1) {
      //border-right: 1px solid $border-color;
    }

    tr:nth-child(even) td {
      //background-color: #eee;
    }
  }
}

footer {
  text-align: center;
  color: $footer_font_color;
  vertical-align: bottom;
  padding-top: 200px;

  a {
    color: $footer_font_color;

    &:hover {
      color: $footer_font_color;
      text-decoration: underline;
    }
  }

  .inner {
    margin-bottom: 70px;
  }

  ul {
    display: inline-block;
    li {
      font-size: .9rem;

      #twitter-icon {
        display: inline-block;
        margin-top: 4px;
      }
    }
  }
}

// Foundation hack
.inline-list > li > * {
  // this doesn't work, delete directly from foundation
  display: inline-block;
}

code {
  word-break: break-word;
}

#twitter-icon {
  path {
    fill: $footer_font_color;
  }
}